* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .header {
        font-size: 2.5rem;
        color: var(--color-principal);
        font-family: 'Montserrat Alternates', sans-serif;
        margin-left: 32px;
        cursor: default;
        .header__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .categoriesContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .categoriesContainer__categorie {
            margin: 32px 0 32px 0;
            width: 97%;
            height: 251.6px;
            border-radius: 6px;
            background-color: var(--color-blanco);
            display: flex;
            justify-content: start;
            -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
            -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
            box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
        }
    }

    .comentarys {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .comentarys__cardsContainer {
            margin: 70px 0 70px 0;
            width: 70%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 90px auto;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            grid-template-areas: "sectionTitle sectionTitle sectionTitle sectionTitle"
                                "card1        card2        card3        card4";
            justify-items: center;
            align-items: center;
            .comentarys__clientCard {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 300px;
                height: 200px;
                background-color: var(--color-blanco);
                border-radius: 6px;
                border: 1px solid #dee2e6;

                -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                &--card1 {
                    grid-area: card1;
                }

                &--card2 {
                    grid-area: card2;
                }

                &--card3 {
                    grid-area: card3;
                }

                &--card4 {
                    grid-area: card4;
                }
            }
        }
    }

    .extrasContainer {
        margin: 64px 0 64px 0 ;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .extrasContainer__card {
            background-color: var(--color-blanco);
            width: 500px;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
            -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
            box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
        }
    }
}