@import "variables.scss";

@mixin section-title {
    font-size: 2.3rem;
    font-weight: bold;
}

@mixin boton-claro {
    color: $bg-principal;
    background-color: $bg-translucido;
    transition: all 0.3s;
    &:hover {
        color: $bg-blanco;
        background-color: $bg-principal;
    }
    
}

@mixin transform {
    transition: all 0.3s;
    &:hover {
        box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
        transform: scale(1.05, 1.05);
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #001833;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $bg-gris;

    a {
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        color: #001833;
    }
    
    i {
        color: $bg-blanco;
        font-size: 1.7rem;
        margin: 11.2px;
        cursor: pointer;
    }

    .header {
        background-color: $bg-blanco;
        z-index: 10;
        width: 100%;
        height: 80px;

        .header__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .header__container {
                display: flex;
                justify-content: start;
                align-items: center;
                height: 100%;

                .header__menuBtn {
                    display: none;
                    margin-left: 20px;
                    .fa-bars {
                        color: $bg-principal;
                    }

                    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
                        display: block;
                    }
                }

                .header__title {
                    font-size: 2.5rem;
                    color: $bg-principal;
                    font-family: 'Montserrat Alternates', sans-serif;
                    margin: 0 0 0 32px;
                    cursor: default;

                    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet){
                        margin-left: 25px;
                    }
                }

                .header__listaPrincipal {
                    padding: 0;
                    margin-bottom: 0;  

                    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
                        display: none;
                        width: 0;
                    }
                    
                    .header__seccion {
                        display: inline-block;
                        margin-left: 22.4px;
                        list-style: none;
                    }

                    .header__seccion-menu {
                        padding: 30px;
                        &:hover {
                            .header__listaSecundaria {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                            }
                        }

                        .header__listaSecundaria {
                            display: none;
                            position: absolute;
                            z-index: 5;
                            width: 100%;
                            right: 0px;
                            top: 80px;
                            background: rgba( 255, 255, 255, 0.55 );
                            backdrop-filter: blur( 20px );
                            -webkit-backdrop-filter: blur( 20px );
                            list-style-type: none;
                            .header__opcion {
                                width: 100%;
                                padding: 24px;
                                color: black;
                            }
                        }
                    }
                }
            }

            .header__registerLogin {
                margin-right: 32px;

                @media only screen and (max-width: $breakpoint-mobile) {
                    display: none;
                }

                .header__loginBtn {
                    font-size: 0.9rem;
                    padding: 12.8px 24px;
                    border-radius: 6px;
                    margin-right: 20px;
                    @include boton-claro;
                }

                .header__registerBtn {
                    font-size: 0.9rem;
                    color: $bg-blanco;
                    padding: 12.8px 24px;
                    background-color: $bg-principal;
                    border-radius: 6px;
                    transition: all 0.3s;
                    &:hover {
                        color: $bg-blanco;
                        background-color: #0338aa;
                    }
                }
            }
        }
    }

    main {
        .categories {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .categories__categorie {
                margin: 32px 0;
                width: 97%;
                height: 251.6px;
                
                border-radius: 6px;
                background-color: $bg-blanco;
                display: flex;
                justify-content: start;
                -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);

                @media only screen and (max-width: $breakpoint-tablet) {
                    height: 350px;
                }

                @media only screen and (max-width: $breakpoint-mobile) {
                    width: 90%;
                    height: 630px;
                    flex-direction: column;
                }

                .categories__imgContainer {   
                    .categories__img {
                        border-radius: 6px 0 0 6px;
                        height: 100%;
                        width: 350px;

                        @media only screen and (max-width: $breakpoint-mobile) {
                            border-radius: 6px 6px 0 0;
                            width: 100%;
                            height: 300px;
                        }
                    }
                }

                .categories__info {
                    margin: 32px;

                    @media only screen and (max-width: $breakpoint-desktopM) {
                        height: 150px;
                    }

                    .categories__title {
                        font-size: 1.6rem;
                        font-weight: bold;
                    }

                    .categories__descripcion {
                        margin-top: 19.2px;
                    }

                    .categories__btn {
                        display: inline-block;
                        font-size: 0.85rem;
                        padding: 9.6px;
                        border-radius: 6px;
                        @include boton-claro;

                    }
                }
            }
        }

        

        .comentarys {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .comentarys__container {
                margin: 70px 0 70px 0;
                width: 95%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 90px auto;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                grid-template-areas: "comentarys__titleContainer comentarys__titleContainer comentarys__titleContainer comentarys__titleContainer"
                                     "comentarys__card-card1     comentarys__card-card2     comentarys__card-card3     comentarys__card-card4";
                justify-items: center;
                align-items: center;

                @media only screen and (max-width: $breakpoint-tablet) {
                    grid-template-columns: 1fr 1fr ;
                    grid-template-rows: 90px auto auto;
                    grid-row-gap: 70px;
                    grid-template-areas: "comentarys__titleContainer comentarys__titleContainer"
                                         "comentarys__card-card1     comentarys__card-card2"     
                                         "comentarys__card-card3     comentarys__card-card4";
                }

                @media only screen and (max-width: $breakpoint-mobile) {
                    grid-template-columns: 1fr;
                    grid-template-rows: 90px auto auto auto auto;
                    grid-column-gap: 10px;
                    grid-row-gap: 30px;
                    grid-template-areas: "comentarys__titleContainer"
                                         "comentarys__card-card1"     
                                         "comentarys__card-card2"     
                                         "comentarys__card-card3"     
                                         "comentarys__card-card4";
                }

                .comentarys__titleContainer {
                    grid-area: comentarys__titleContainer;  
                    .comentarys__title {
                        @include section-title;
                    }
                }
                
                .comentarys__card-card1 {
                    grid-area: comentarys__card-card1;
                }
                
                .comentarys__card-card2 {
                    grid-area: comentarys__card-card2;
                }
                
                .comentarys__card-card3 {
                    grid-area: comentarys__card-card3;
                }
                
                .comentarys__card-card4 {
                    grid-area: comentarys__card-card4;
                }


                .comentarys__card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 300px;
                    height: 200px;
                    background-color: $bg-blanco;
                    border-radius: 6px;
                    border: 1px solid #dee2e6;
                    -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                    -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                    box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                    
                    .comentarys__comentary {
                        display: flex;
                        height: 50%;
                        width: 250px;
                        align-items: center;

                        .comentarys__text {
                            margin: 0;
                        }
                    }

                    .comentarys__profile {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        align-content: center;
                        border-top: 1px solid #dee2e6;
                        width: 100%;
                        height: 40%;

                        .comentarys__imgContainer {
                            .comentarys__img {
                                border-radius: 50%;
                                padding: 3px;
                                border: 2px solid #dee2e6;
                                width: 55px;
                                height: 55px;
                            }
                        }

                        .comentarys__nameContainer {
                            .comentarys__name {
                                margin-bottom: 0;
                            }
                        }
                    }               
                }
            }
        }

        .extras {
            margin: 64px 0 64px 0 ;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
                flex-direction: column;
            }

            .extras__card {
                background-color: $bg-blanco;
                width: 500px;
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
                box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);

                @media only screen and (max-width: $breakpoint-desktopM) {
                    width: 400px;
                    height: 450px;
                }

                @media only screen and (max-width: $breakpoint-tablet) {
                    width: 90%;
                    height: 470px;
                    margin: 20px 0;
                }

                @media only screen and (max-width: $breakpoint-mobile) {
                    width: 90%;
                    height: 370px;
                    margin: 20px 0;
                }

                .extras__svgContainer {
                    .extras__svg {
                        width: 200px;
                        height: 200px;

                        @media only screen and (max-width: $breakpoint-mobile) {
                            width: 150px;
                            height: 150px;
                        }
                    }
                }

                .extras__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 30px;
                    width: 300px;

                    .extras__title {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .contacto {
            display: flex;
            height: 700px;
            background-color: $bg-blanco;

            @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet){
                flex-direction: column-reverse;
                height: 1300px;
            }

            .contacto__formulario {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet)  {
                    width: 100%;
                    padding: 40px 0;
                }
                
                .contacto__form {
                    .contacto__inputs {
                        .contacto__input {
                            display: block;
                            margin: 20px 0;
                            width: 400px;
                            border-style: none;
                            border: none;
                            background-color: $bg-translucido;
                            border-radius: 6px;
                            padding: 16px;
                            outline: none;
                        }
                    }

                    .contacto__textAreaContainer {
                        .contacto__textArea {
                            width: 400px;
                            border: none;
                            background-color: $bg-translucido;
                            border-radius: 6px;
                            padding: 16px;
                            outline: none;
                        }
                    }

                    .contacto__enviar {
                        .contacto__enviarBtn {
                            border: none;
                            color: $bg-blanco;
                            padding: 10px 20px;
                            background-color: $bg-principal;
                            border-radius: 6px;
                            margin: 16px 0;
                            cursor: pointer;
                        }

                        .contacto__checkbox {
                            margin: 10px;
                        }
                    }

                    ::placeholder {
                        font-weight: 600;
                        color: $bg-principal;
                    }
                }
            }

            .contacto__aside {
                background-color: $bg-principal;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
                    width: 100%;
                    padding: 40px 0;
                }

                .contacto__info {
                    width: 700px;
                    height: 500px;

                    @media only screen and (max-width: $breakpoint-desktopM) {
                        width: 500px;
                    }

                    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
                        width: 80%;
                    }

                    .contacto__asideTitle {
                        font-size: 3.8rem;
                        color: $bg-blanco;
                    }

                    .contacto__text {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: $bg-blanco;

                        .contacto__span {
                            display: block;
                            position: relative;
                            top: 110px;
                            margin: 30px 0 0 0;
                            color: $bg-blanco;

                            @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
                                top: 30px;
                            }
                        }
                    }

                    
                }
            }
        }

        .categorieTitle {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: $anchoCategorie*2; //Operacion

            @media only screen and (max-width: $breakpoint-mobile) {
                padding: 60px ;
            }
         
            .categorieTitle__title {
                @include section-title;
                .categorieTitle__subTitle {
                    font-size: $fontSize*1.2;
                    padding: 10px;
                }
            }
        }

        .items {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 70px;

            @media only screen and (max-width: $breakpoint-desktopM) {
                grid-template-columns: 1fr 1fr 1fr 1fr ;
                grid-template-rows: 1fr 1fr 1fr;
            }

            @media only screen and (max-width: $breakpoint-tablet) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }

            @media only screen and (max-width: $breakpoint-mobile) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .items__itemCard {
                @if ($bg-blanco == #fff) {      //IF
                    background-color: $bg-blanco;
                } @else {
                    background-color: $bg-principal;
                }
                width: 300px;
                height: 550px;
                border-radius: 6px;
                @include transform;

                @media only screen and (max-width: $breakpoint-tablet) {
                    width: 240px;
                }

                @media only screen and (max-width: $breakpoint-mobile) {
                    width: 80%;
                }

                .items__imagen {
                    width: 100%;
                    height: 300px;
                    border-radius: 6px 6px 0 0;
                }

                .items__info {
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;


                    .items__text {
                        width: 85%;
                        height: 240px;

                        @media only screen and (max-width: $breakpoint-mobile) {
                            margin-top: 10px;
                        }

                        .items__title {
                            margin-top: 10px;
                            font-size: 1.4rem;
                        }
                        .items__description {
                            margin-top: 10px;
                        }
                    }

                    .items__btn {
                        .items__link {
                            font-size: 0.9rem;
                            padding: 12.8px 20px;
                            border-radius: 6px;
                            @include boton-claro;
                        }
                    }
                }
            }
        }

        .recomendados {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media only screen and (max-width: $breakpoint-tablet) {
                grid-template-columns: 1fr 1fr ;
                grid-template-rows: 1fr 1fr;
                grid-row-gap: 70px;
            }

            @media only screen and (max-width: $breakpoint-mobile) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-row-gap: 20px;
            }

            .recomendados__card {
                width: 300px;
                height: 300px;
                border-radius: 10px;
                @include transform;

                .recomendados__btn {
                    .recomendados__imagen {
                        border-radius: 10px;
                        @include transform;
                    }
                }
            }
        }

    }

    footer {
        display: block;
        background-color: $bg-secundario;
        width: 100%;

        .footer__enlacesContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            padding: 60px;

            @media only screen and (max-width: $breakpoint-mobile) {
                display: block;
            }

            .footer__seccion {
                .footer__ul {
                    .footer__li {
                        list-style-type: none;

                        .footer__title {
                            margin-bottom: 20px;
                            color: $bg-blanco;
                        }
                    }
                }
            }

            .footer__seccion-aplicacion {
                .footer__ul {
                    .footer__li {
                        .footer__svg {
                            width: 120px;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }

        .footer__socialContainer {
            border-top: 1px solid $bg-translucido;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @media only screen and (max-width: $breakpoint-mobile) {
                flex-direction: column;
            }

            .footer__social {
                display: flex;
                flex-direction: row;
                
            }

            .footer__rigthsContainer {
                .footer__rights {
                    margin: 0;
                }
            }
        }
    }

    footer a, footer p, footer i{
        color: $bg-blanco;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0;
    }

    footer i {
        font-size: 1.4rem;
    }
}

.carousel-caption h5 {
    font-weight: bold;
    font-size: 2rem;
    color: $bg-blanco;
}

.carousel-caption p {
    font-size: 1.6rem;
    color: $bg-blanco;
}
