* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .header {
  font-size: 2.5rem;
  color: var(--color-principal);
  font-family: 'Montserrat Alternates', sans-serif;
  margin-left: 32px;
  cursor: default;
}

body .header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .categoriesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .categoriesContainer .categoriesContainer__categorie {
  margin: 32px 0 32px 0;
  width: 97%;
  height: 251.6px;
  border-radius: 6px;
  background-color: var(--color-blanco);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
}

body .comentarys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .comentarys .comentarys__cardsContainer {
  margin: 70px 0 70px 0;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 90px auto;
      grid-template-rows: 90px auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
      grid-template-areas: "sectionTitle sectionTitle sectionTitle sectionTitle" "card1        card2        card3        card4";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .comentarys .comentarys__cardsContainer .comentarys__clientCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 200px;
  background-color: var(--color-blanco);
  border-radius: 6px;
  border: 1px solid #dee2e6;
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
}

body .comentarys .comentarys__cardsContainer .comentarys__clientCard--card1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card1;
}

body .comentarys .comentarys__cardsContainer .comentarys__clientCard--card2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card2;
}

body .comentarys .comentarys__cardsContainer .comentarys__clientCard--card3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: card3;
}

body .comentarys .comentarys__cardsContainer .comentarys__clientCard--card4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: card4;
}

body .extrasContainer {
  margin: 64px 0 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .extrasContainer .extrasContainer__card {
  background-color: var(--color-blanco);
  width: 500px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
}
/*# sourceMappingURL=style.css.map */