$anchoCategorie: 40px;
$fontSize: 1rem;
$bg-blanco: #fff;
$bg-principal: #296BFF;
$bg-secundario: #000710;
$bg-gris: #F4F5F7;
$bg-translucido: rgba(41, 107, 255, 0.2);

// Media Querys
$breakpoint-mobile: 375px;
$breakpoint-tablet: 769px;
$breakpoint-desktopM: 1367px;
$breakpoint-desktopL: 1920px;

