:root {
    --color-principal: #296BFF;
    --color-principalTrans: rgba(41, 107, 255, 0.2);
    --color-secundario: #000710;
    --color-background: #F4F5F7;
    --color-blanco: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #001833;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-background);
}

.categoriesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--color-blanco);
    padding: 16px;
    z-index: 10;
    width: 100%;
}

.listInline {
    display: inline-block;
    margin-left: 22.4px;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .leftMenu{
    display: flex;
    justify-content: start;
    align-items: center;
}


header .menu {
    display: none;
    position: absolute;
}

li .shop {
    position: relative;
}

ul .menu {
    background-color: var(--color-blanco);
    left: 260px;
    list-style-type: none;
    border: 1px solid var(--color-background);
}

.menu li {
    padding: 15px;
}

ul li:hover ul { /* Aca falta corregir como se muestra cuando se hace el hover*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

nav .sideMenu {
    display: none;
}

header .title {
    font-size: 2.5rem;
    color: var(--color-principal);
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 32px;
    cursor: default;
}

.registerLogin {
    margin-right: 32px;
}

.registerLogin a{
    font-size: 0.8rem;
    margin: 6.4px;
}

.loginBtn {
    color: var(--color-principal);
    padding: 12.8px;
    border-radius: 6px;
    background-color: var(--color-principalTrans);
}

.registerBtn {
    color: var(--color-blanco);
    padding: 12.8px;
    background-color: var(--color-principal);
    border-radius: 6px;
}

a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

i {
    color: var(--color-principal);
    font-size: 1.7rem;
    margin: 11.2px;
    cursor: pointer;
}

.bannerContainer {
    background-image: url("../media/Baner.jpg");
    height: 400px;
    min-height: 400px;
}

.bannerContainer p, 
.bannerContainer h2 {
    position: relative;
    top: 30%;
    left: 5%;
    color: var(--color-blanco);
    font-weight: 600;
    width: 600px;
}

.bannerContainer h2 {
    font-size: 2.2rem;
}

.bannerContainer p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 30px;
}

.categorie {
    margin: 32px 0 32px 0;
    width: 97%;
    height: 251.6px;
    
    border-radius: 6px;
    background-color: var(--color-blanco);
    display: flex;
    justify-content: start;
    -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
    -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
    box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
}

.categorie img {
    border-radius: 6px 0 0 6px;
    height: 100%;
    width: 350px;
}

.info {
    margin: 32px;
}

.info p {
    margin-top: 19.2px;
}

.info a {
    font-size: 0.85rem;
    color: var(--color-principal);
    padding: 9.6px;
    border-radius: 6px;
    background-color: var(--color-principalTrans);
    position: relative;
    top: 70px;
}

.info a:hover {
    color: var(--color-principal);
}


.extrasContainer {
    margin: 64px 0 64px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.extrasContainer img {
    width: 200px;
    height: 220px;
}

.card {
    background-color: var(--color-blanco);
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
    -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
    box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 300px;
}

.cardText h3{
    margin-bottom: 20px;
}

.comentarys {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardsContainer {
    margin: 70px 0 70px 0;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90px auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "sectionTitle sectionTitle sectionTitle sectionTitle"
                         "card1        card2        card3        card4";
    justify-items: center;
    align-items: center;
}

.clientCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: var(--color-blanco);
    border-radius: 6px;
    border: 1px solid #dee2e6;

    -webkit-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
    -moz-box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
    box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.21);
}

.comentary {
    height: 50%;
}

.clientCard .comentary {
    width: 250px;
}

.clientProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-top: 1px solid #dee2e6;
    width: 100%;
    height: 40%;
}

.clientProfile img {
    border-radius: 50%;
    padding: 3px;
    border: 1px solid black;
    width: 55px;
    height: 55px;
}

.sectionTitle {
    grid-area: sectionTitle;
}

.clientCard .card1 {
    grid-area: card1;
}

.clientCard .card2 {
    grid-area: card2;
}

.clientCard .card1 {
    grid-area: card3;
}

.clientCard .card1 {
    grid-area: card4;
}


#contacto {
    display: flex;
    height: 600px;
    background-color: var(--color-blanco);
}

.sideBarForm {
    background-color: var(--color-principal);
    width: 50%;
}

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


::placeholder {
    font-weight: 600;
    color: var(--color-principal);
}

.campos input {
    display: block;
    margin: 20px 0;
    width: 400px;
    border-style: none;
}

.textArea textarea {
    width: 400px;
}

input, textarea {
    border: none;
    background-color: var(--color-principalTrans);
    border-radius: 6px;
    padding: 16px;
    outline: none;
}

#sendBtn {
    border: none;
    color: var(--color-blanco);
    padding: 10px 20px;
    background-color: var(--color-principal);
    border-radius: 6px;
    margin: 16px 0;
    cursor: pointer;
}


.sideBarForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideBarForm div {
    width: 700px;
    height: 500px;
}

.sideBarForm h2{
    font-size: 3.8rem;
    color: var(--color-blanco);
}

.sideBarForm p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-blanco);
}

p span {
    display: block;
    position: relative;
    top: 110px;
    margin: 30px 0 0 0;
    color: var(--color-blanco);
}

span i {
    color: var(--color-blanco);
}


footer {
    display: block;
    background-color: var(--color-secundario);
    width: 100%;
}

.upFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
}

.upFooter h4 {
    margin-bottom: 20px;
    color: var(--color-blanco);
}


.downFooter{
    border-top: 1px solid var(--color-principalTrans);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer a, footer p, footer i{
    color: var(--color-blanco);
    font-size: 1rem;
    font-weight: 400;
}

footer i{
    font-size: 1.4rem;
}

footer .terminos {
    line-height: 1.5rem;
    margin: 16px;
}

footer .social {
    margin-right: 48px;
    display: flex;
    justify-content: start;
}

footer li {
    list-style-type: none;
}



                                                    /* Media Querys!*/

        /* CELULAR */

@media only screen and (max-width: 320px) {
    * {
        font-size: 13px;
    }

    header {
        width: 100%;
    }

    header .registerLogin,
    header .listInline {
        display: none;
    }

    nav {
        justify-content: center;
    }

    nav .sideMenu {
        display: inline-block;
        position: absolute;
        right: 270px;
    }

    nav .title {
        margin-left: 0;
    }

    .bannerContainer h2,
    .bannerContainer p {
        width: 200px;
        top: 15%;
        left: 15%;
    }

    .categorie {
        width: 90%;
        height: 500px;
        flex-direction: column;

    }

    .categorie img {
        width: 100%;
        height: 250px;
        border-radius: 6px 6px 0 0;
    }

    .info p {
        margin-top: 10px;
    }

    .info a {
        top: 5px;
        left: 85px;
    }

    .cardsContainer {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas: "sectionTitle"
                             "card1"
                             "card2"
                             "card3"
                             "card4";
    }

    .sectionTitle h2 {
        font-size: 2rem;
    }
    
    .clientCard {
        width: 290px;
        height: 200px;
        
    }

    .extrasContainer {
        margin: 64px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .extrasContainer img {
        width: 200px;
        height: 220px;
    }
    
    .card {
        margin-top: 20px;
        width: 90%;
        height: 350px;
    }
    
    .cardText {
        width: 250px;
    }
    
    .cardText h3{
        margin-bottom: 20px;
    }


    #contacto {
        display: flex;
        flex-direction: column;
        height: 900px;
        background-color: var(--color-blanco);
    }
    
    .sideBarForm {
        background-color: var(--color-principal);
        width: 100%;
        height: 350px;
        order: -1;
    }
    
    .formulario {
        width: 100%;
        height: 600px;
    }

    .formulario h2 {
        font-size: 16px;
    }
    
    .campos input {
        width: 290px;
    }
    
    .textArea textarea {
        width: 290px;
    }
    
    .sideBarForm div {
        width: 70%;
        height: 300px;
    }
    
    p span {
        display: block;
        position: relative;
        top: 10px;
        margin: 5px 0 0 0;
    }

    
    .upFooter {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .upFooter div {
        margin: 15px;
    }
    
    .upFooter h4 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: var(--color-blanco);
    }
    
    
    .downFooter{
        border-top: 1px solid var(--color-principalTrans);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
}


        /* TABLET */


@media only screen and (min-width: 768px) {
    * {
        font-size: 13px;
    }
        
    header {
        width: 100%;
    }
        
    nav .title {
        margin-left: 0;
    }
        
    ul .menu {
        background-color: var(--color-blanco);
        left: 200px;
        list-style-type: none;
        border: 1px solid var(--color-background);
    }
        
    .bannerContainer h2,
    .bannerContainer p {
        width: 300px;
        top: 15%;
        left: 10%;
    }
        
    .categorie {
        width: 90%;
    }
            
    .categorie img {
        border-radius: 6px 0 0 6px;
        height: 100%;
        width: 250px;
        }
            
    .info {
        margin: 32px;
    }
            
    .info p {
        margin-top: 19.2px;
    }
            
    .info a {
        top: 50px;
    }
        
    .cardsContainer {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px auto auto;
        grid-template-areas: "sectionTitle sectionTitle"
                             "card1        card2"
                             "card3        card4";
    }
        
    .sectionTitle h2 {
        font-size: 2rem;
    }
            
    .clientCard {
        width: 290px;
        height: 200px;
    }
        
    .extrasContainer {
        margin: 64px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
            
    .extrasContainer img {
        width: 200px;
        height: 220px;
    }
            
    .card {
        margin-top: 20px;
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: row;
    }
            
    .cardText {
        width: 250px;
    }
            
    .cardText h3{
        margin-bottom: 20px;
    }
        
        
    #contacto {
        display: flex;
        flex-direction: column;
        height: 900px;
        background-color: var(--color-blanco);
    }
            
    .sideBarForm {
        background-color: var(--color-principal);
        width: 100%;
        height: 350px;
        order: -1;
    }
            
    .formulario {
        width: 100%;
        height: 600px;
    }
        
    .formulario h2 {
        font-size: 16px;
    }
            
    .campos input {
        width: 290px;
    }
            
    .textArea textarea {
        width: 290px;
    }
            
    .sideBarForm div {
        width: 70%;
        height: 300px;
    }
            
    p span {
        display: block;
        position: relative;
        top: 10px;
        margin: 5px 0 0 0;
    }        
}


        /* NOTEBOOKS */ 

@media only screen and (min-width: 1024px) {
    * {
        font-size: 16px;
    }
        
    header {
        width: 100%;
    }
        
    nav .title {
        margin-left: 0;
    }
        
    ul .menu {
        background-color: var(--color-blanco);
        left: 200px;
        list-style-type: none;
        border: 1px solid var(--color-background);
    }
        
    .bannerContainer h2,
    .bannerContainer p {
        width: 300px;
        top: 15%;
        left: 10%;
    }
        
    .categorie {
        width: 90%;
    }
            
    .categorie img {
        border-radius: 6px 0 0 6px;
        height: 100%;
        width: 250px;
        }
            
    .info {
        margin: 32px;
    }
            
    .info p {
        margin-top: 19.2px;
    }
            
    .info a {
        top: 50px;
    }
        
    .cardsContainer {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px auto auto;
        grid-template-areas: "sectionTitle sectionTitle"
                             "card1        card2"
                             "card3        card4";
    }
        
    .sectionTitle h2 {
        font-size: 2rem;
    }
            
    .clientCard {
        width: 290px;
        height: 200px;
    }
        
    .extrasContainer {
        margin: 64px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .extrasContainer img {
        width: 200px;
        height: 220px;
    }
    
    .card {
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .cardText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        width: 260px;
    }
    
    .cardText h3{
        margin-bottom: 20px;
    }
        
        
    #contacto {
        display: flex;
        flex-direction: row;
        height: 600px;
    }
    
    .sideBarForm {
        background-color: var(--color-principal);
        width: 50%;
        height: 100%;
    }
    
    .formulario {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: -1;
    }
    
    .campos input {
        display: block;
        margin: 20px 0;
        width: 300px;
        border-style: none;
    }
    
    .textArea textarea {
        width: 300px;
    }
    
    input, textarea {
        border: none;
        background-color: var(--color-principalTrans);
        border-radius: 6px;
        padding: 16px;
        outline: none;
    }
    
    #sendBtn {
        border: none;
        color: var(--color-blanco);
        padding: 10px 20px;
        background-color: var(--color-principal);
        border-radius: 6px;
        margin: 16px 0;
        cursor: pointer;
    }
    
    
    .sideBarForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sideBarForm div {
        width: 400px;
        height: 500px;
    }
    
    .sideBarForm h2{
        font-size: 3.8rem;
        color: var(--color-blanco);
    }
    
    .sideBarForm p{
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-blanco);
    }
    
    p span {
        display: block;
        position: relative;
        top: 110px;
        margin: 30px 0 0 0;
        color: var(--color-blanco);
    }
    
    span i {
        color: var(--color-blanco);
    }        
}
