* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #001833;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F4F5F7;
}

body a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #001833;
}

body i {
  color: #fff;
  font-size: 1.7rem;
  margin: 11.2px;
  cursor: pointer;
}

body .header {
  background-color: #fff;
  z-index: 10;
  width: 100%;
  height: 80px;
}

body .header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .header .header__nav .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .header .header__nav .header__container .header__menuBtn {
  display: none;
  margin-left: 20px;
}

body .header .header__nav .header__container .header__menuBtn .fa-bars {
  color: #296BFF;
}

@media only screen and (max-width: 769px) {
  body .header .header__nav .header__container .header__menuBtn {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  body .header .header__nav .header__container .header__menuBtn {
    display: block;
  }
}

body .header .header__nav .header__container .header__title {
  font-size: 2.5rem;
  color: #296BFF;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0 0 0 32px;
  cursor: default;
}

@media only screen and (max-width: 769px) {
  body .header .header__nav .header__container .header__title {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 480px) {
  body .header .header__nav .header__container .header__title {
    margin-left: 25px;
  }
}

body .header .header__nav .header__container .header__listaPrincipal {
  padding: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 769px) {
  body .header .header__nav .header__container .header__listaPrincipal {
    display: none;
    width: 0;
  }
}

@media only screen and (max-width: 480px) {
  body .header .header__nav .header__container .header__listaPrincipal {
    display: none;
    width: 0;
  }
}

body .header .header__nav .header__container .header__listaPrincipal .header__seccion {
  display: inline-block;
  margin-left: 22.4px;
  list-style: none;
}

body .header .header__nav .header__container .header__listaPrincipal .header__seccion-menu {
  padding: 30px;
}

body .header .header__nav .header__container .header__listaPrincipal .header__seccion-menu:hover .header__listaSecundaria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .header .header__nav .header__container .header__listaPrincipal .header__seccion-menu .header__listaSecundaria {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  right: 0px;
  top: 80px;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  list-style-type: none;
}

body .header .header__nav .header__container .header__listaPrincipal .header__seccion-menu .header__listaSecundaria .header__opcion {
  width: 100%;
  padding: 24px;
  color: black;
}

body .header .header__nav .header__registerLogin {
  margin-right: 32px;
}

@media only screen and (max-width: 480px) {
  body .header .header__nav .header__registerLogin {
    display: none;
  }
}

body .header .header__nav .header__registerLogin .header__loginBtn {
  font-size: 0.9rem;
  padding: 12.8px 24px;
  border-radius: 6px;
  margin-right: 20px;
  color: #296BFF;
  background-color: rgba(41, 107, 255, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .header .header__nav .header__registerLogin .header__loginBtn:hover {
  color: #fff;
  background-color: #296BFF;
}

body .header .header__nav .header__registerLogin .header__registerBtn {
  font-size: 0.9rem;
  color: #fff;
  padding: 12.8px 24px;
  background-color: #296BFF;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .header .header__nav .header__registerLogin .header__registerBtn:hover {
  color: #fff;
  background-color: #0338aa;
}

body main .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .categories .categories__categorie {
  margin: 32px 0;
  width: 97%;
  height: 251.6px;
  border-radius: 6px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
}

@media only screen and (max-width: 769px) {
  body main .categories .categories__categorie {
    height: 350px;
  }
}

@media only screen and (max-width: 480px) {
  body main .categories .categories__categorie {
    width: 90%;
    height: 630px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .categories .categories__categorie .categories__imgContainer .categories__img {
  border-radius: 6px 0 0 6px;
  height: 100%;
  width: 350px;
}

@media only screen and (max-width: 480px) {
  body main .categories .categories__categorie .categories__imgContainer .categories__img {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 300px;
  }
}

body main .categories .categories__categorie .categories__info {
  margin: 32px;
}

@media only screen and (max-width: 1367px) {
  body main .categories .categories__categorie .categories__info {
    height: 150px;
  }
}

body main .categories .categories__categorie .categories__info .categories__title {
  font-size: 1.6rem;
  font-weight: bold;
}

body main .categories .categories__categorie .categories__info .categories__descripcion {
  margin-top: 19.2px;
}

body main .categories .categories__categorie .categories__info .categories__btn {
  display: inline-block;
  font-size: 0.85rem;
  padding: 9.6px;
  border-radius: 6px;
  color: #296BFF;
  background-color: rgba(41, 107, 255, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body main .categories .categories__categorie .categories__info .categories__btn:hover {
  color: #fff;
  background-color: #296BFF;
}

body main .comentarys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body main .comentarys .comentarys__container {
  margin: 70px 0 70px 0;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 90px auto;
      grid-template-rows: 90px auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
      grid-template-areas: "comentarys__titleContainer comentarys__titleContainer comentarys__titleContainer comentarys__titleContainer" "comentarys__card-card1     comentarys__card-card2     comentarys__card-card3     comentarys__card-card4";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 769px) {
  body main .comentarys .comentarys__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 90px auto auto;
        grid-template-rows: 90px auto auto;
    grid-row-gap: 70px;
        grid-template-areas: "comentarys__titleContainer comentarys__titleContainer" "comentarys__card-card1     comentarys__card-card2"      "comentarys__card-card3     comentarys__card-card4";
  }
}

@media only screen and (max-width: 480px) {
  body main .comentarys .comentarys__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 90px auto auto auto auto;
        grid-template-rows: 90px auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
        grid-template-areas: "comentarys__titleContainer" "comentarys__card-card1"      "comentarys__card-card2"      "comentarys__card-card3"      "comentarys__card-card4";
  }
}

body main .comentarys .comentarys__container .comentarys__titleContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: comentarys__titleContainer;
}

body main .comentarys .comentarys__container .comentarys__titleContainer .comentarys__title {
  font-size: 2.3rem;
  font-weight: bold;
}

body main .comentarys .comentarys__container .comentarys__card-card1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: comentarys__card-card1;
}

body main .comentarys .comentarys__container .comentarys__card-card2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: comentarys__card-card2;
}

body main .comentarys .comentarys__container .comentarys__card-card3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: comentarys__card-card3;
}

body main .comentarys .comentarys__container .comentarys__card-card4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: comentarys__card-card4;
}

body main .comentarys .comentarys__container .comentarys__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
}

body main .comentarys .comentarys__container .comentarys__card .comentarys__comentary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .comentarys .comentarys__container .comentarys__card .comentarys__comentary .comentarys__text {
  margin: 0;
}

body main .comentarys .comentarys__container .comentarys__card .comentarys__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1px solid #dee2e6;
  width: 100%;
  height: 40%;
}

body main .comentarys .comentarys__container .comentarys__card .comentarys__profile .comentarys__imgContainer .comentarys__img {
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #dee2e6;
  width: 55px;
  height: 55px;
}

body main .comentarys .comentarys__container .comentarys__card .comentarys__profile .comentarys__nameContainer .comentarys__name {
  margin-bottom: 0;
}

body main .extras {
  margin: 64px 0 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 769px) {
  body main .extras {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  body main .extras {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .extras .extras__card {
  background-color: #fff;
  width: 500px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
}

@media only screen and (max-width: 1367px) {
  body main .extras .extras__card {
    width: 400px;
    height: 450px;
  }
}

@media only screen and (max-width: 769px) {
  body main .extras .extras__card {
    width: 90%;
    height: 470px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 480px) {
  body main .extras .extras__card {
    width: 90%;
    height: 370px;
    margin: 20px 0;
  }
}

body main .extras .extras__card .extras__svgContainer .extras__svg {
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 480px) {
  body main .extras .extras__card .extras__svgContainer .extras__svg {
    width: 150px;
    height: 150px;
  }
}

body main .extras .extras__card .extras__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  width: 300px;
}

body main .extras .extras__card .extras__info .extras__title {
  margin-bottom: 20px;
}

body main .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  background-color: #fff;
}

@media only screen and (max-width: 769px) {
  body main .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 1300px;
  }
}

@media only screen and (max-width: 480px) {
  body main .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 1300px;
  }
}

body main .contacto .contacto__formulario {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 769px) {
  body main .contacto .contacto__formulario {
    width: 100%;
    padding: 40px 0;
  }
}

@media only screen and (max-width: 480px) {
  body main .contacto .contacto__formulario {
    width: 100%;
    padding: 40px 0;
  }
}

body main .contacto .contacto__formulario .contacto__form .contacto__inputs .contacto__input {
  display: block;
  margin: 20px 0;
  width: 400px;
  border-style: none;
  border: none;
  background-color: rgba(41, 107, 255, 0.2);
  border-radius: 6px;
  padding: 16px;
  outline: none;
}

body main .contacto .contacto__formulario .contacto__form .contacto__textAreaContainer .contacto__textArea {
  width: 400px;
  border: none;
  background-color: rgba(41, 107, 255, 0.2);
  border-radius: 6px;
  padding: 16px;
  outline: none;
}

body main .contacto .contacto__formulario .contacto__form .contacto__enviar .contacto__enviarBtn {
  border: none;
  color: #fff;
  padding: 10px 20px;
  background-color: #296BFF;
  border-radius: 6px;
  margin: 16px 0;
  cursor: pointer;
}

body main .contacto .contacto__formulario .contacto__form .contacto__enviar .contacto__checkbox {
  margin: 10px;
}

body main .contacto .contacto__formulario .contacto__form ::-webkit-input-placeholder {
  font-weight: 600;
  color: #296BFF;
}

body main .contacto .contacto__formulario .contacto__form :-ms-input-placeholder {
  font-weight: 600;
  color: #296BFF;
}

body main .contacto .contacto__formulario .contacto__form ::-ms-input-placeholder {
  font-weight: 600;
  color: #296BFF;
}

body main .contacto .contacto__formulario .contacto__form ::placeholder {
  font-weight: 600;
  color: #296BFF;
}

body main .contacto .contacto__aside {
  background-color: #296BFF;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 769px) {
  body main .contacto .contacto__aside {
    width: 100%;
    padding: 40px 0;
  }
}

@media only screen and (max-width: 480px) {
  body main .contacto .contacto__aside {
    width: 100%;
    padding: 40px 0;
  }
}

body main .contacto .contacto__aside .contacto__info {
  width: 700px;
  height: 500px;
}

@media only screen and (max-width: 1367px) {
  body main .contacto .contacto__aside .contacto__info {
    width: 500px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 769px) {
  body main .contacto .contacto__aside .contacto__info {
    width: 80%;
  }
}

body main .contacto .contacto__aside .contacto__info .contacto__asideTitle {
  font-size: 3.8rem;
  color: #fff;
}

body main .contacto .contacto__aside .contacto__info .contacto__text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

body main .contacto .contacto__aside .contacto__info .contacto__text .contacto__span {
  display: block;
  position: relative;
  top: 110px;
  margin: 30px 0 0 0;
  color: #fff;
}

@media only screen and (min-width: 480px) and (max-width: 769px) {
  body main .contacto .contacto__aside .contacto__info .contacto__text .contacto__span {
    top: 30px;
  }
}

body main .categorieTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
}

@media only screen and (max-width: 480px) {
  body main .categorieTitle {
    padding: 60px;
  }
}

body main .categorieTitle .categorieTitle__title {
  font-size: 2.3rem;
  font-weight: bold;
}

body main .categorieTitle .categorieTitle__title .categorieTitle__subTitle {
  font-size: 1.2rem;
  padding: 10px;
}

body main .items {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 70px;
}

@media only screen and (max-width: 1367px) {
  body main .items {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 769px) {
  body main .items {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  body main .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body main .items .items__itemCard {
  background-color: #fff;
  width: 300px;
  height: 550px;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body main .items .items__itemCard:hover {
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
          box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 769px) {
  body main .items .items__itemCard {
    width: 240px;
  }
}

@media only screen and (max-width: 480px) {
  body main .items .items__itemCard {
    width: 80%;
  }
}

body main .items .items__itemCard .items__imagen {
  width: 100%;
  height: 300px;
  border-radius: 6px 6px 0 0;
}

body main .items .items__itemCard .items__info {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .items .items__itemCard .items__info .items__text {
  width: 85%;
  height: 240px;
}

@media only screen and (max-width: 480px) {
  body main .items .items__itemCard .items__info .items__text {
    margin-top: 10px;
  }
}

body main .items .items__itemCard .items__info .items__text .items__title {
  margin-top: 10px;
  font-size: 1.4rem;
}

body main .items .items__itemCard .items__info .items__text .items__description {
  margin-top: 10px;
}

body main .items .items__itemCard .items__info .items__btn .items__link {
  font-size: 0.9rem;
  padding: 12.8px 20px;
  border-radius: 6px;
  color: #296BFF;
  background-color: rgba(41, 107, 255, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body main .items .items__itemCard .items__info .items__btn .items__link:hover {
  color: #fff;
  background-color: #296BFF;
}

body main .recomendados {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 769px) {
  body main .recomendados {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-row-gap: 70px;
  }
}

@media only screen and (max-width: 480px) {
  body main .recomendados {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }
}

body main .recomendados .recomendados__card {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body main .recomendados .recomendados__card:hover {
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
          box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

body main .recomendados .recomendados__card .recomendados__btn .recomendados__imagen {
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body main .recomendados .recomendados__card .recomendados__btn .recomendados__imagen:hover {
  -webkit-box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
          box-shadow: 3px 6px 5px -1px rgba(0, 0, 0, 0.21);
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

body main .centerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .svgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .svgContainer .svg {
  width: 600px;
  height: 600px;
}

body main .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .btnContainer .btn {
  font-size: 1.2rem;
  padding: 12.8px 24px;
  border-radius: 6px;
  margin-right: 20px;
  color: #296BFF;
  background-color: rgba(41, 107, 255, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body main .btnContainer .btn:hover {
  color: #fff;
  background-color: #296BFF;
}

body footer {
  display: block;
  background-color: #000710;
  width: 100%;
}

body footer .footer__enlacesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 60px;
}

@media only screen and (max-width: 480px) {
  body footer .footer__enlacesContainer {
    display: block;
  }
}

body footer .footer__enlacesContainer .footer__seccion .footer__ul .footer__li {
  list-style-type: none;
}

body footer .footer__enlacesContainer .footer__seccion .footer__ul .footer__li .footer__title {
  margin-bottom: 20px;
  color: #fff;
}

body footer .footer__enlacesContainer .footer__seccion-aplicacion .footer__ul .footer__li .footer__svg {
  width: 120px;
  margin: 10px 0;
}

body footer .footer__socialContainer {
  border-top: 1px solid rgba(41, 107, 255, 0.2);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 480px) {
  body footer .footer__socialContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body footer .footer__socialContainer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .footer__socialContainer .footer__rigthsContainer .footer__rights {
  margin: 0;
}

body footer a, body footer p, body footer i {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

body footer i {
  font-size: 1.4rem;
}

.carousel-caption h5 {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.carousel-caption p {
  font-size: 1.6rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */