:root {
    --color-principal: #296BFF;
    --color-principalTrans: rgba(41, 107, 255, 0.2);
    --color-secundario: #001833;
    --color-background: #F4F5F7;
    --color-blanco: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #001833;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-background);
}

header {
    background-color: var(--color-blanco);
    padding: 1rem;
    z-index: 10;
}

li {
    display: inline-block;
    margin-left: 1.4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .leftMenu{
    display: flex;
    justify-content: start;
    align-items: center;
}


header .menu {
    display: none;
}

header .title {
    font-size: 2.5rem;
    color: var(--color-principal);
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 2rem;
    cursor: default;
}

.registerLogin {
    margin-right: 2rem;
}

.registerLogin a{
    font-size: 0.8rem;
    margin: 0.4rem
}

.loginBtn {
    color: var(--color-principal);
    padding: 0.8rem;
    border-radius: 6px;
    background-color: var(--color-principalTrans);
}

.registerBtn {
    color: var(--color-blanco);
    padding: 0.8rem;
    background-color: var(--color-principal);
    border-radius: 6px;
}

a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

i {
    color: var(--color-principal);
    font-size: 1.7rem;
    margin: 0.7rem;
    cursor: pointer;
}


.categorie {
    margin: 2rem 0 2rem 0;
    width: 97%;
    height: 15.725rem;
    border: 1px solid var(--color-secundario);
    border-radius: 0.2rem;
    background-color: var(--color-blanco);
    display: flex;
    justify-content: start;
}

img {
    border-radius: 0.2rem 0 0 0.2rem;
}

.info {
    margin: 2rem;
}

.info p {
    margin-top: 1.2rem;
}

.info a {
    position: relative;
    top: 5rem;
}

.info a:hover {
    color: var(--color-principal);
}


.extrasContainer {
    margin: 4rem 0 4rem 0 ;
    height: 30rem;
    background-color: var(--color-blanco);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.divisor {
    width: 35rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisor div {
    margin-left: 2rem;
}

.divisor h3 {
    line-height: 4rem;
}


#contacto {
    height: 25rem;
    background-color: var(--color-secundario);
}

form {
    margin-left: 2rem;
}

form select {
    margin-bottom: 1rem;
}

.campos input {
    display: block;
    margin-bottom: 1rem;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-principal);
}

footer a, footer p, footer i{
    color: var(--color-background);
    font-size: 1rem;
    font-weight: 600;
}

footer i{
    font-size: 1.4rem;
}

footer .terminos {
    line-height: 1.5rem;
    margin: 1rem;
}

footer .social {
    margin-right: 3rem;
    display: flex;
    justify-content: start;
}

